.standardTextInput {
  margin: 10px auto 10px auto;
  color: black;
}

.MuiTypography-root {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700 !important;
}

.editInfoBtn {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #c06cfc;
  border-radius: 50%;
  padding: 7px 10px 10px 7px;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
}

.editInfoBtn:hover {
  transform: scale(1.2);
}

.textFieldBreak {
  margin-top: 20px;
}

.dialogWrapper {
  padding: 15px 15px;
}

.MuiDialog-paper {
  border-radius: 20px !important;
}
