/*-----------------------------UserProfileCard--------------------------------*/
ul {
  list-style-type: none;
  overflow: hidden;
}

li a {
  text-align: center;
}

.userProfileCard {
  margin: 0 auto 0 auto;
  width: 300px;
  height: 410px;
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
}

.userProfileImage {
  margin: -90px auto 0 auto;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid white;
  background: white;
  overflow: hidden;
  animation: imageSlide 1.5s;
}

.userImage {
  width: 100%;
  height: 100%;
}

.userProfileBackgroundSlide {
  margin: 0 auto 0 auto;
  width: 300px;
  height: 130px;
  background: #c06cfc;
  animation: bgSlide 1.5s ease;
}

.userProfileName {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: inherit;
  text-align: center;
  cursor: pointer;
  animation: fadeInFromBottom 1s ease-in-out;
}

.userBio {
  margin: 0 auto 10px auto;
  color: #636363;
}

.userJoinDate {
  margin: 10px auto 10px auto;
  color: #4b4b4b;
  font-weight: 400;
  font-size: 0.8em;
}

.userLinks {
  color: #636363;
  font-weight: 400;
  font-size: 0.8em;
  color: #c06cfc;
  margin: 0 auto 40px auto;
}

.userLinks:hover {
  text-decoration: underline;
  cursor: pointer;
}

.userProfileInfo {
  display: flex;
  margin: 10px auto 0 auto;
  width: inherit;
}

.userExtraInfo {
  position: relative;
  margin-bottom: 40px;
  width: inherit;
  padding: 0 20px;
  text-align: center;
  color: white;
}

.userName {
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
}

.userName:hover {
  color: #c06cfc;
}

.linkIcon {
  margin-right: 5px;
  margin-bottom: -7px;
  transform: scale(0.8);
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    margin-top: 300px;
  }
  100% {
    opacity: 1;
    margin-top: 20px;
  }
}

@keyframes imageSlide {
  0% {
    margin-top: -300px;
  }
  100% {
    margin-top: -90px;
  }
}

@keyframes bgSlide {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 0;
  }
}

/* @keyframes fadeInUserInfo {
  0% {
    opacity: 0;
    margin-bottom: -30px;
  }
  100% {
    opacity: 1;
    margin-bottom: -20px;
  }
} */

/*----------------------------HintCard--------------------------------*/

.hintCard {
  margin: 0 auto 0 auto;
  width: 400px;
  height: 550px;
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
}

.hintContainer {
  margin: auto;
  width: 360px;
  margin-top: 30px;
}

.notMemberImage {
  margin: auto;
  width: 100%;
  height: 100%;
}

.closeBtn {
  display: block;
  float: right;
  margin-right: 30px;
  margin-top: 25px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.closeBtn:hover {
  transform: scale(1.2);
}

.memberLoginOrSignup {
  list-style-type: none;
  text-align: center;
  margin: auto;
}

.joinUsText {
  color: #4b4b4b;
  text-align: center;
}

.hintSignupBtn,
.hintLoginBtn,
.orBreak {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #4b4b4b;
}

.hintSignupBtn {
  padding-bottom: 2px;
  border-bottom: #c06cfc solid 2px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.hintSignupBtn:hover {
  border-bottom: #c06cfc solid 4px;
}

.orBreak {
  margin: 0 30px;
  font-size: 0.8em;
}

.hintLoginBtn {
  padding-bottom: 2px;
  border-bottom: #c06cfc solid 2px;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.hintLoginBtn:hover {
  border-bottom: #c06cfc solid 4px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ div {
  animation: fadeUp 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    margin-top: 0px;
    margin-left: 0px;
  }
  30% {
    opacity: 1;
    margin-top: 50px;
    margin-left: 0px;
  }
  99% {
    opacity: 0;
    margin-top: -1000px;
    margin-left: 0px;
  }
  100% {
    opacity: 0;
    margin-top: -1000px;
    margin-left: -500px;
    display: none;
  }
}
