.cls-10 {
  fill: #b5ddf4;
  fill-rule: evenodd;
}

.cls-9 {
  fill: #c576eb;
  fill-rule: evenodd;
}

.cls-8 {
  fill: #f7ce52;
  fill-rule: evenodd;
}

.cls-7 {
  fill: #f696af;
  fill-rule: evenodd;
}
