/*-----------------------------UserProfileCard--------------------------------*/
ul {
  list-style-type: none;
}

li a {
  text-align: center;
}

.userProfileCard {
  margin: 45px auto 0 auto;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
}

.userProfileImage {
  margin: -90px auto 0 auto;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid white;
  background: white;
  overflow: hidden;
  animation: imageSlide 1.5s;
}

.userImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.userProfileBackgroundSlide {
  margin: 0 auto 0 auto;
  width: 100%;
  height: 130px;
  background: #c06cfc;
  animation: bgSlide 1.5s ease;
}

.userProfileName {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: inherit;
  text-align: center;
  cursor: pointer;
  animation: fadeInFromBottom 1s ease-in-out;
}

.userBio {
  margin: 0 auto 10px auto;
  color: #636363;
}

.userJoinDate {
  margin: 10px auto 15px auto;
  color: #4b4b4b;
  font-weight: 400;
  font-size: 0.8em;
}

.userLinks {
  color: #636363;
  font-weight: 400;
  font-size: 0.8em;
  color: #c06cfc;
  margin: 0 auto 40px auto;
}

.userLinks:hover {
  text-decoration: underline;
  cursor: pointer;
}

.userProfileInfo {
  display: flex;
  margin: 10px auto 0 auto;
  width: inherit;
}

.userExtraInfo {
  position: relative;
  margin-bottom: 20px;
  width: inherit;
  padding: 0 20px;
  text-align: center;
  color: white;
}

.userName {
  font-family: "Montserrat", sans-serif;
  color: #4b4b4b;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
}

.userName:hover {
  color: #c06cfc;
}

.linkIcon {
  margin-right: 5px;
  margin-bottom: -7px;
  transform: scale(0.8);
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

#noSnippetsText {
  text-align: center;
  margin-top: 30px;
  color: #4b4b4b;
  font-size: 1.5em;
}

.noSnippetImageContainer {
  width: 100%;
  align-items: center;
}

#noSnippetsImage {
  margin: 10px auto 0 auto;
  width: 55%;
}

#imageScale {
  transform: scale(0.9);
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    margin-top: 300px;
  }
  100% {
    opacity: 1;
    margin-top: 20px;
  }
}

@keyframes imageSlide {
  0% {
    margin-top: -300px;
  }
  100% {
    margin-top: -90px;
  }
}

@keyframes bgSlide {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 0;
  }
}

/* @keyframes fadeInUserInfo {
  0% {
    opacity: 0;
    margin-bottom: -30px;
  }
  100% {
    opacity: 1;
    margin-bottom: -20px;
  }
} */
.backBtnContainer {
  position: relative;
}

.userBackHomeBtn {
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #4d4d4d;
  border-bottom: 2px solid #fcfcfc;
  cursor: pointer;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
}

.userBackHomeBtn:hover {
  border-bottom: 4px solid #c576ed;
}

.userBackArrow {
  margin-right: 5px;
  margin-bottom: -5px;
  transform: scale(0.8);
}
