/*-----------------------------UserProfileCard--------------------------------*/
ul {
  list-style-type: none;
}

li a {
  text-align: center;
}

.userProfileCard {
  margin: 45px auto 0 auto;
  width: 100%;
  height: auto;
  border-radius: 20px;
  background: #ffffff;
  overflow: hidden;
  -webkit-filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
  filter: drop-shadow(0px 10px 0px rgba(0, 0, 0, 0.02));
}

.userProfileImage {
  position: relative;
  z-index: 4;
  margin: -90px auto 0 70px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 7px solid white;
  background: white;
  overflow: hidden;
  animation: imageSlide 1.5s;
}

.userImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.changeImageHover:hover {
  opacity: 0.75;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
}

.userProfileBackgroundSlide {
  position: relative;
  z-index: 2;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 130px;
  background: #c06cfc;
  animation: bgSlide 1.5s ease;
}

.userProfileName {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 270px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  animation: fadeInFromBottom 1.2s ease-in-out;
}

.userProfileNameBG {
  position: absolute;
  z-index: 3;
  top: -5px;
  left: 33%;
  margin-top: 20px;
  text-align: center;
  cursor: default;
  animation: fadeInFromBottom 1.2s ease-in-out;
}

.userNameBG {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  opacity: 0.12;
  text-decoration: none;
  font-weight: 700;
  font-size: 6em;
}

.userJoinDate {
  margin: 10px auto 15px auto;
  color: #4b4b4b;
  font-weight: 400;
  font-size: 0.8em;
}

.userLinks {
  color: #636363;
  font-weight: 400;
  font-size: 0.8em;
  color: #c06cfc;
  margin: 0 10px 40px auto;
}

.userLinks:hover {
  text-decoration: underline;
  cursor: pointer;
}

.userExtraInfo ul li {
  display: inline-block;
}

.userProfileInfo {
  display: flex;
  margin: 10px 0;
  width: auto;
}

.userExtraInfo {
  position: relative;
  z-index: 1;
  margin-top: -90px;
  margin-bottom: 20px;
  padding: 0 20px 0 260px;
  text-align: center;
  color: white;
}

.userName {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8em;
}

.userName:hover {
  color: #4d4d4d;
}

.linkIcon {
  margin-right: 5px;
  margin-bottom: -7px;
  transform: scale(0.8);
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

#noSnippetsText {
  text-align: center;
  margin-top: 30px;
  color: #4b4b4b;
  font-size: 1.5em;
}

.noSnippetImageContainer {
  width: 100%;
  align-items: center;
}

#noSnippetsImage {
  margin: 10px auto 0 auto;
  width: 55%;
}

#imageScale {
  transform: scale(0.9);
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    margin-top: 300px;
  }
  100% {
    opacity: 1;
    margin-top: 20px;
  }
}

@keyframes imageSlide {
  0% {
    margin-top: -300px;
  }
  100% {
    margin-top: -90px;
  }
}

@keyframes bgSlide {
  0% {
    margin-top: -200px;
  }
  100% {
    margin-top: 0;
  }
}

/* @keyframes fadeInUserInfo {
  0% {
    opacity: 0;
    margin-bottom: -30px;
  }
  100% {
    opacity: 1;
    margin-bottom: -20px;
  }
} */
.backBtnContainer {
  position: relative;
}

.userBackHomeBtn {
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #4d4d4d;
  border-bottom: 2px solid #fcfcfc;
  cursor: pointer;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
}

.userBackHomeBtn:hover {
  border-bottom: 4px solid #c576ed;
}

.userBackArrow {
  margin-right: 5px;
  margin-bottom: -5px;
  transform: scale(0.8);
}

/* phablet */
@media (max-width: 680px) {
  .userProfileImage {
    position: relative;
    z-index: 4;
    margin: -90px auto 0 auto;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 7px solid white;
    background: white;
    overflow: hidden;
    animation: imageSlide 1.5s;
  }

  .userProfileName {
    position: absolute;
    z-index: 3;
    top: 210px;
    left: 40%;
    right: 40%;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    animation: fadeInFromBottom 1.2s ease-in-out;
  }

  .userProfileNameBG {
    position: absolute;
    z-index: 3;
    top: -5px;
    left: 33%;
    margin-top: 20px;
    text-align: center;
    cursor: default;
    animation: fadeInFromBottom 1.2s ease-in-out;
  }

  .userNameBG {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    opacity: 0.14;
    text-decoration: none;
    font-weight: 700;
    font-size: 6em;
  }

  .userJoinDate {
    margin: 10px auto 15px auto;
    color: #4b4b4b;
    font-weight: 400;
    font-size: 0.8em;
  }

  .userLinks {
    color: #636363;
    font-weight: 400;
    font-size: 0.8em;
    color: #c06cfc;
    margin: 0 10px 40px auto;
  }

  .userLinks:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .userExtraInfo ul li {
    display: block;
  }

  .userProfileInfo {
    display: flex;
    margin: 10px 0;
    width: auto;
  }

  .userExtraInfo {
    width: inherit;
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 0 40px 0 40px;
    text-align: center;
    color: white;
  }

  .userName {
    font-family: "Montserrat", sans-serif;
    color: #4d4d4d;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
  }

  .userName:hover {
    color: #4d4d4d;
  }

  .linkIcon {
    margin-right: 5px;
    margin-bottom: -7px;
    transform: scale(0.8);
  }
}
