/* Fonts for snippy */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Source+Code+Pro&display=swap");

/* Spilt up stylesheets to be easier / cleaner */
@import "elements/_snippets.css";
@import "elements/_userProfileCard.css";
@import "pagecss/_login&signup.css";
@import "elements/_loadingdots.css";
@import "elements/_edituserInfo.css";
@import "elements/_navbar.css";
@import "elements/_postSnippet.css";
@import "elements/_snippetExpanded.css";
@import "svgs/_svgCLS.css";
/* Anything in the main.css file is to be used globally */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*---------------Body switches------------*/
.overflowSwitch {
  overflow: hidden;
}

.backgroundSymbols {
  overflow: hidden;
}

#largeBG {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}
/*---------------------------------------*/

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.3em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.2em;
  font-weight: 700;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 700;
}

p {
  font-weight: 400;
  font-size: 1.1em;
  font-family: "Montserrat", sans-serif;
}

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*-----------------Backgrounds--------------------*/

body {
  background-color: #fcfcfc;
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}

h1::selection {
  background-color: #c576ed;
  color: white;
}

h2::selection {
  background-color: #c576ed;
  color: white;
}

h3::selection {
  background-color: #c576ed;
  color: white;
}

h4::selection {
  background-color: #c576ed;
  color: white;
}

span::selection {
  background-color: #c576ed;
  color: white;
}

p::selection {
  background-color: #c576ed;
  color: white;
}

a::selection {
  background-color: #c576ed;
  color: white;
}

img::selection {
  background-color: #c576ed;
  color: white;
}

li::selection {
  background-color: #c576ed;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #9c9c9c;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}
